
<link rel="stylesheet" href="/css_files/header.css">
<header>
    <h1>Random Password Generator</h1>
    <p>Generate a secure and random password to protect your online accounts.</p>
  </header>